# Kopiere diese Datei nach  secrets.yaml  und trage deine Werte ein.
# secrets.yaml ist via .gitignore vom Repo ausgeschlossen.

wifi_ssid: "DEIN_WLAN"
wifi_password: "DEIN_WLAN_PASSWORT"

# Frei wählbar – werden beim ersten Flash gesetzt. Notiere sie dir.
api_key: "ERSETZEN_32BYTE_BASE64"      # `openssl rand -base64 32`
ota_password: "ERSETZEN_OTA_PASSWORT"
